$navbarColor: #707070;
$headerColor: #BEA67C;
$brandColor: #FFF;
$footerColor: #000;
$afterColor: #BEA67C;
$primaryColor: #BEA67C;
$whiteColor: #FFF;
$blackColor: #000;
$productNameColor: #000;
$productDescColor: #464646;
$pageSubTitleColor: #BEA67C;
$mainFont: 'Source Sans Pro', sans-serif;
